@import url("https://fonts.cdnfonts.com/css/open-sans");
.area.polls {
  width: 62.5%;
  height: 100%;
  float: right;
}

.carousel.slide.polls {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-control-prev-icon.poll,
.carousel-control-next-icon.poll {
  width: 50px;
  height: 50px;
}

.carousel-caption.d-none.d-md-block.poll {
  height: 250px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px grey;
  overflow-y: scroll;
  padding: 0;
  background-color: white;
}

#TextNoPoll {
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
  background-color: #0e7237;
  padding: 1vw;
}

#TextPreviousPollInstruction {
  color: black;
  font-size: 1vw;
  font-weight: 500;
  width: 50%;
  left: 25%;
  position: relative;
  top: 20%;
}

.pollContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pollQuestion {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 2%;
}

.pollOptions {
  background-color: white;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.poll {
  width: 100%;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input.btn.poll.vote {
  color: white;
  font-size: large;
  font-weight: bold;
  background-color: #489a2b;
}

input.btn.poll.vote:focus {
  background-color: #0e7237;
}

.form-check-input.poll {
  height: 2rem;
  width: 2rem;
  margin-top: 0.4rem;
}

.form-check-label.poll {
  width: 95%;
  margin-left: 1.5rem;
}

.progress.poll {
  margin-left: 2.5rem;
}

/*# sourceMappingURL=poll.css.map */
