@charset "utf-8";

// Corporate identity
$appleGreen: #489a2b;
$lightGreen: #c1e1bd;
$grassGreen: #0e7237;

$optima: "Optima Nova LT Pro";
$openSans: "Open Sans";

$primaryGreen: $appleGreen;
$secondaryGreen: $grassGreen;

@import url("https://fonts.cdnfonts.com/css/open-sans");

@font-face {
    font-family: $optima;
    src: url(https://fonts.cdnfonts.com/s/44510/OptimaNovaLTProRegular.woff);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

ul {
    font-size: 16pt;
}

// Sidebar
#Sidebar {
    width: 20%;
    height: 100%;
    background-color: $primaryGreen;
    position: absolute;
    float: right;
    right: 0px;
}

#SidebarContent {
    height: 70%;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#SidebarMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 30%;
    padding: 5% 5% 5% 5%;
}

.card-scan-instruction {
    color: white;
    font-weight: 600;
    font-size: xx-large;
    text-align: right;
    border-right: 0.5vw solid $grassGreen;
    padding-right: 4%;
}

#AssociationName {
    color: white;
    margin: 2px;
    text-align: center;
    font-family: $optima;
    font-size: 24pt;
}

#MemberName {
    color: white;
    margin: 2px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24pt;
    font-weight: bold;
}

#MainContent {
    width: 80%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    float: left;
}

// Event overview
$eventOverviewBackgroundColor: $lightGreen;
.overviewEvents {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    overflow: scroll;
    height: 100%;
    background-color: $eventOverviewBackgroundColor;
    z-index: -1;
}

.borderedWrapper.eventCard {
    padding-top: 100px;
    width: 25%;
    height: 15vw;
    position: relative;
    overflow: hidden;

    flex: none;
    margin: 0%;
    border-radius: 10px;
}

.borderedWrapped.eventCard {
    position: absolute;
    top: 3%;
    left: 3%;
    display: block;
    height: 94%;
    width: 94%;
    margin: auto;
    align-self: center;
    background: $eventOverviewBackgroundColor;
    z-index: 1;

    background-color: $appleGreen;
    border-radius: 10px;
}

.borderedWrapped.eventCard.pinned {
    background-color: $grassGreen;
}

.borderedWrapped.border {
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    z-index: 0;
    display: block;
    height: 200%;
    width: 200%;
    transform: rotate(-45deg);
    overflow: hidden;
    background: $eventOverviewBackgroundColor;
    background-size: 200% auto;
}

.borderedWrapped.border.pinned {
    background: linear-gradient(
        to right,
        $eventOverviewBackgroundColor 20%,
        $eventOverviewBackgroundColor 40%,
        #ecd08c 50%,
        #ecd08c 55%,
        $eventOverviewBackgroundColor 70%,
        $eventOverviewBackgroundColor 100%
    );
    background-size: 200% auto;

    animation: shine 3s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.titleBox.eventCard {
    width: fit-content;
    max-width: 100%;
    margin: auto;
    height: auto;
    color: white;
    align-content: center;
    text-align: center;
    padding: 2% 5% 2% 5%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.titleBox.pin {
    transform: scale(1.6);
    position: relative;
    top: 0.1vw;
}

.titleBox.text {
    // add ellipsis if line is too long
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img.eventCard {
    height: 70%;
    width: 100%;
    object-fit: contain;
}


/*Here the area's are defined*/

#EventArea {
    width: 100%;
    height: 70%;
    position: relative;
}

.EventsBox {
    width: 25%;
    padding-top: 25%;
    position: relative;
    display: inline-block;
    margin: 0;
    height: 0;
}

.overview {
    display: flex;
    flex-direction: column;
}

.overview.row.event {
    flex-direction: row;
}

.eventCardTitleBox {
    color: white;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 25%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 2% 5% 2% 5%;

    /* add ellipses to line if the line is too long for the card */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#EventsHeader {
    display: flex;
    flex-wrap: wrap;
}

#EventsWrapper {
    width: 92.5%;
    height: 100%;
    position: relative;
    float: right;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

#EventsWrapper.shop {
    height: calc(100% - 139px);
}

.titleBar {
    width: 7.5%;
    height: 100%;
    position: relative;
    float: left;
    background-color: $grassGreen;
    text-align: center;
    padding: 50px 1.7% 50px 1%;

    font-family: $openSans;
    color: white;
    font-size: 28pt;
    font-weight: bold;

    // rotate
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    // ellipsis if necessary
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content {
    width: 92.5%;
    height: 100%;
    float: right;
}

// Registration
.content.registration {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5%;
    padding-top: 10%;
}

.row.registration {
    margin: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.registration.numberField {
    display: flex;
    flex-direction: row;
}

.registration.btn {
    box-shadow: none;
    width: 70px;
    height: 70px;
    margin: auto;
}

// Buttons
button {
    background-color: $primaryGreen;
    box-shadow: 5px 5px 5px grey;
    border: none;
    color: white;
}

button:focus {
    background-color: $secondaryGreen;
}

button.plusminus {
    box-shadow: none;
    height: auto;
    display: inline-block;

    font-size: xx-large;
    font-weight: bold;
}

#EventCardStatusHack {
    box-shadow: none;
}

.MenuButton {
    width: 100%;
    height: 45%;
    margin: 2%;
    font-size: 28pt;
    font-weight: bold;
}

#PuzzleArea {
    width: 100%;
    height: 30%;
    position: relative;
}

.weatherBlock {
    width: 100%;
    height: 25%;
    position: relative;
    padding: 10px;
    display: inline-block;
}

.announcementsButtons {
    width: 10%;
    height: 100%;
    display: inline-block;
    padding: 10px;
}

.EventPicture {
    width: 100%;
    height: 66%;
    overflow: hidden;
    object-fit: cover;
}

.insideBox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
}

.SubscribeButton {
    width: 100%;
    height: 13.33%;
    display: inline-block;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bottomButton {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.topButton {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.PinnedTitleBox {
    background-color: #6c757d;
    color: white;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 20%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 1px;
}

.crop {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.contain {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: contain;
}

.puzzleMenu {
    width: 30%;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    float: left;
    background-color: white;
}

.puzzleButton {
    flex: 0 1 120px;
    height: 0px;
    width: 100%;
    padding: 3px;
    font-size: 20pt;
    vertical-align: middle;
    text-align: center;
}

.ButtonArea {
    width: 30%;
    height: 100%;
    padding-left: 10px;
    display: inline-block;
}

h1 {
    color: white;
}

p {
    font-size: 16pt;
}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

#PollArea {
    width: 60%;
    height: 100%;
    float: right;
    padding-left: 10px;
    padding-top: 10px;
}

h2 {
    color: white;
    margin: 2px;
    text-align: center;
    font-family: $optima;
    font-size: 22pt;
}

#EventPicture {
    height: 100%;
    width: calc(100% * (2 / 3));
    float: left;
}

// Event page

#EventSummary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    overflow-y: hidden;
    box-sizing: border-box;
}

#EventPicture {
    padding: 2% 2% 2% 2%;
}

#EventName {
    color: black;
    font-family: "Open Sans";
    font-weight: bold;
}

#EventDetails {
    height: 90%;
    width: calc(100% * (1 / 3));
    padding: 30px;
    float: right;
    box-sizing: border-box;
}

#EventDescription {
    width: 92.5%;
    padding: 2% 2% 2% 2%;
    box-sizing: border-box;
    overflow-y: auto;
    display: inline-block;
    position: relative;
}

#Participants {
    width: calc(100% * (1 / 3));
    height: 100%;
    padding-left: 2%;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    float: right;
    overflow-x: hidden;
}

#DetailWrapper {
    width: 90%;
    height: 100%;
    float: right;
    height: 100%;
    position: relative;
}

.EventDetailsMenuName {
    margin-right: 2.5%;
}

#EventDetailWrapper {
    width: 90%;
}

.Positionshifter {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    color: white;
}

button.button-block.sign-up.no-sign-up {
    background-color: $lightGreen;
}

// Shop
.shop.categoryMenuContainer {
    width: 70%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5% 5% 1.5% 5%;
}

.shop.categoryMenu {
    flex-grow: 1;
}

.shop.categoryButton {
    flex-grow: 1;
    margin: 0;
    padding: 20px 0 20px 0;

    background-color: $appleGreen;
    box-shadow: none;

    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.shop.categoryButton.active {
    background-color: $grassGreen;
}

h1.shoppingBasket {
    font-weight: bold;
    font-size: 2vw;
    white-space: nowrap;
}

.ArtikelButton {
    width: 25%;
    height: 100%;
    position: relative;
    display: inline-block;
    margin: 0;
}

.outer {
    background-color: pink;
    width: 40px;
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.inner {
    font-size: 13px;
    color: #878787;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ddd;
    white-space: nowrap;
}

.CostsTag {
    width: 50%;
    height: 100%;
    position: relative;
    display: inline-block;
    margin: 0;
}

.PriceArea {
    width: 100%;
    height: 13.33%;
}

#shoppingBasketContainer {
    width: 22.5%;
    height: 100%;
    right: 0px;
    position: absolute;
    display: block;
}

#shoppingBasket {
    width: 100%;
    height: 75%;
    position: relative;
    padding: 10px;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.CardRegisterBox {
    width: calc(90% / 3);
    display: inline-block;
    position: relative;
    padding-top: 10px;
}

.RoundBox {
    border-radius: 100%;
    width: 60%;
    padding-top: 60%;
    background-color: $primaryGreen;
    margin-left: 20%;
    margin-right: 20%;
    vertical-align: middle;
}

.CardRegisterBoxContent {
    text-align: center;
}

.shopButtonContainer {
    width: 100%;
    height: 25%;
    position: absolute;
    display: block;
    bottom: 0px;
    padding: 10px;
}

img.product {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.titleBox.productCard {
    background-color: $appleGreen;
    color: white;

    font-family: $openSans;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}

.nmpd-grid {
    border: none;
    padding: 20px;
}

.nmpd-grid > tbody > tr > td {
    border: none;
}

/* Some custom styling for Bootstrap */
.qtyInput {
    display: block;
    width: 100%;
    padding: 6px 12px;
    color: #555;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition:
        border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition:
        border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
    transition:
        border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
}

.header-fixed {
    width: 100%;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > thead > tr > td,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 85%;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: calc(100% / 3);
    float: left;
}

.header-fixed > thead > tr > td {
    width: calc(100% / 3);
    float: left;
}

#messageBox {
    width: 40%;
    left: 30%;
    bottom: 7.5%;
    height: 12.5%;
    background-color: #989898;
    position: absolute;
    z-index: 2;
    opacity: 0.95;
    text-align: center;
    vertical-align: center;
    display: none;
    border-radius: 25px;
}

#errorMessage {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: white;
    display: inline-block;
}

.subscribeButtonDetailContainer {
    height: 20%;
    display: block;
    float: bottom;
    width: 100%;
}

#SignupButton,
#PopupButton {
    height: 100px;
    font-size: xx-large;
    font-weight: bold;
}

.modal-confirm {
    color: #434e65;
    width: 525px;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    background: #e85e6c;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}

.modal-confirm .close:hover {
    opacity: 0.8;
}

.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}

.modal-confirm .icon-box i {
    font-size: 58px;
    margin: -2px 0 0 -2px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #eda645;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.eventDetails {
    float: right;
}

#UserPicture {
    width: 100%;
    padding-top: 100%;
    position: relative;
    float: left;
    margin: 0;
    border-radius: 50%;
}
